.Registercontainer{
    text-align: center;
    border: 2px solid #132c7b;
    width: 25%;
    height: 450px;
   margin-left: 35%;
   position: absolute;
   top: 20%;
   background-color:#132c7b ;
   border-radius: 10px;
   box-shadow: 0px 0px 50px #050505;
}
.Registercontainer input{
     margin: 10px;
     height: 3em;
     width: 70%;
     border-radius: 5px;
     border: none;

}

.Registercontainer button{
    height: 3em;
    width: 60%;
    background-color:  #132c9b;
    border: none;
    border-radius:5px ;
    color: white;
    cursor:grab;
   

}


.Registercontainer h2{
    position: relative;
    top: 63px;
    height: 53px;
    background-color: rgb(250, 249, 249);
   border-radius: 100% 100% 0% 00px; 
     
}



.maincontainer{
    background-color: #132c7b;
    height: 100vh;
}
.Registercontainer h1{
    color: white;
}