.maincontainer{
    margin-left: 10%;
    /* position: relative;
    top: 8em; */
    display: flex;
    align-items: center;
   
    
}
.icone{
  background-color: white;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  text-align: center;
  
  
     
}
.icone svg{
    margin-top: 10px;
}

.span2{
   margin-top: -10px;
   color: skyblue;
   margin-left: 20px;
}

.maincontainer p{
     margin-left: -60px;
     margin-top:50px;
}