.ulcontainer {
    list-style: none;
    display: flex;
    justify-content: start;
    margin-left: 220px;
    margin-top: -35px;



}

.ulcontainer li {
    margin-right: 50px;


}

.container {
    display: flex;


}

.container h2 {
    margin-top: 20px;
}

.btncontain {
    margin-left: 5rem;
    margin-top: 10px;

}

.btncontain button {
    margin: 15px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;

}

.container {
    margin-left: 100px;
    margin-right: 100px
}


.bgimg {

    background-image: url("images/hd_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%; 

    border-radius: 10px;
}

.fonthighlight {
    margin-left: 70px;
    position: relative;
    top: 30%;


}

.fonthighlight h1 {
    font-size: 50px;

}

.fonthighlight span {
    font-size: 50px;
    display: inline-block;
    margin-top: -30rem;
    color: white;

}

.btncontain :Hover {
    background-color: #14171d;
    color: white;
}

.ulcontainer :Link {
    text-decoration: none;

}